<div class="card-container">
  <div class="panel">
      <div>
        <img class="sb-title-icon" src="https://fonts.gstatic.com/s/i/googlematerialicons/location_pin/v5/24px.svg" alt="">
        <span class="sb-title">Address Selection</span>
      </div>
      <input type="text" placeholder="Search Address: Type Here" id="txtAddressSearch"/>
      <input type="text" placeholder="Address 1" id="txtAddress1" readonly="true" disabled/>
      <input type="text" placeholder="Address 2" id="txtAddress2" readonly="true"/>
      <input type="text" placeholder="City Code" id="txtCityCode" readonly="true"/>
      <input type="text" placeholder="City Name" id="txtCityName" readonly="true"/>
      <input type="text" placeholder="Province Code" id="txtProvCode" readonly="true"/>
      <input type="text" placeholder="Province Name" id="txtProvinceName" readonly="true"/>
      <input type="text" placeholder="Country Code" id="txtCountryCode" readonly="true"/>
      <input type="text" placeholder="Country Name" id="txtCountryName" readonly="true"/>
      <input type="text" placeholder="Postal Code" id="txtPostalCode" readonly="true"/>
  </div>
  <div class="map" id="divAddressMap"></div>
</div>





